h1{
    background-color: aquamarine;
}
.choices{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: black;
}

img{
    height: 25vh;
    width: 25vw;
    margin: 10px;
    border: 5px,solid,rgb(17, 17, 17);
    padding: 5px;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: brown;
}

    
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  